*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024_8_7_10_46_[更改]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024_8_7_10_47_[更改]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024_8_7_10_46___.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2024_8_7_10_47___.xml